body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-colour {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 80%;
    padding-left: 2%;
    padding-right: 5%;

}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 40px;
    color: white;
    font-weight: 700;

    border-radius: 5px;
}

.top-banner {
    background-image: url(shap/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(shap/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.expreience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;

}

.exprience-area {
    background-image: url(shap/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}


#full-stack-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footerp {
    text-align: center;
}